workspace.xml
build.properties
solutions/PhilipsDSL
OOTICourseShapes.mps
OOTICourseRoute.mps

# Ignore all directories containing generated
# java classes and java source files
classes_gen
source_gen
source_gen.caches
build
